body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:url(/images/HD2.jpg) no-repeat; background-attachment:fixed;
  height: 100%	;
}

a {
  color: #00B7FF;
}


/* nav-bar styles */






/* Home page styels */

.bio-container {
	padding: 0 60px;
}

.contain-fluid {
	position: relative;
}

.min-height {
	min-height: 100%;
}

.main {
	min-height: 80%;

}

.jumbotron, h1 {
	color: white;
}

div .transparent-back {
background: transparent;
}

.float-right {
	float: right;
}

.profile-pic {
	max-width: 100%;
	max-height: 100%;
}

.inline {
	display: inline-block;
}

#bio{
	font-size: 18px;
/*	background-color: #ffffff;
	border-radius: 6px;*/
	padding: 5px;
}

.bio {
	top: 60%;
}

.footer {
	min-height: 264px;
}

.white-text {
		color: #ffffff;
}

/* About us styles */

.bio-text {
	background-color: #ffffff;
}

/* Footer styles */

.footer {
	min-height: 264px;
/*	background-image: url(http://www.summitpost.org/images/original/505538.JPG);*/
}

