body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background:url(https://wallpaperscraft.com/image/raven_bird_flying_smoke_black_white_92907_1600x1000.jpg) top right no-repeat; background-attachment:fixed;*/
}

a {
  color: #00B7FF;
}

.contain-fluid {
	position: relative;
}

.min-height {
	min-height: 100%;
}

.main {
	min-height: 80%;

}

div .transparent-back {
background:url(https://wallpaperscraft.com/image/raven_bird_flying_smoke_black_white_92907_1600x400.jpg) top right no-repeat;
}

.float-right {
	float: right;
}

.profile-pic {
	max-width: 100%;
	max-height: 100%;
}

.inline {
	display: inline-block;
}

#bio{
	font-size: 14px;
}

.bio {
	position: absolute;
	top: 60%;
}

.footer {
	min-height: 264px;
}

.white-text {
		color: #ffffff;
}

/* About us styles */


/* Footer styles */

.footer {
	min-height: 264px;
/*	background-image: url(http://www.summitpost.org/images/original/505538.JPG);*/
}

