extends index

block content
	.all.border.about
		div.aboutBox.jumbotron
			div.media-body
				h1.media-heading What We Are About
				p#about
					| Raven Innovation does not work with organizations, but with people.  We desire to establish personal relationships with our customers, and believe that attitude, trust, and mutual respect provide the foundation for lasting relationships.
					br
					br
					| At Raven Innovation, we are willing to help in any way we can.  Please, do not think that your opportunity is too large, or too small, because we have designed, developed, installed, and troubleshot networks with industry leading Internet Service Providers, as well as local coffee shop owners.
					br
					br
					| The team at Raven Innovation are experts in their respective fields.  We have multiple industry certifications, publications, and presentations in the areas of network engineering:  VoIP, Routing/Switching, Wireless, Network Security, Network Design, etc.


