extends index

block content
	.all.border.main
		.contact
			header
				h1.header-contact.center.white-text Contact Us

			//- .row
			//- .col-md-12
			//- 	small
			//- 	.alert.alert-success.hidden
			//- 		strong
			//- 			span.glyphicon.glyphicon-send
			//- 			|  Success! Message sent. (If form ok!)
			//- 	.alert.alert-danger.hidden
			//- 		span.glyphicon.glyphicon-alert
			//- 		strong  Error! Please check the inputs. (If form error!)
			form(role='form', action='https://formspree.io/levi@raveninnovation.com', method='POST')
				.col-lg-3
				.col-lg-6
					.form-group
						label.white-text(for='InputName') Your Name
						.input-group
							input#inputName.form-control(type='text', name='RealName', placeholder='Enter Name', required='')
							span.input-group-addon
								i.glyphicon.glyphicon-ok.form-control-feedback
					.form-group
						label.white-text(for='InputEmail') Your Email
						.input-group
							input#inputEmail.form-control(type='email', name='email', placeholder='Enter Email', required='')
							span.input-group-addon
								i.glyphicon.glyphicon-ok.form-control-feedback
					.form-group
						label.white-text(for='InputMessage') Message
						.input-group
							textarea#inputMessage.form-control(name='InputMessage', rows='5', required='')
							span.input-group-addon
								i.glyphicon.glyphicon-ok.form-control-feedback
					.form-group
						.input-group
							input#inputRecipient.form-control(type='hidden' name="_cc" value='andrew@raveninnovation.com')
						.input-group
							input#inputRedirect.form-control(type='hidden' name='_next', value='http://www.raveninnovation.com')
						.input-group
							input#gotcha.form-control(type='text' name='_gotcha' style='display:none')
					input#submit.btn.btn-info.pull-right(type='submit')
			if(typeof msg !== 'undefined')
				if(!!err)
					div(class='msgbox err') #{msg}
				else
					div(class='msgbox success') #{msg}
			//- hr.featurette-divider.hidden-lg
			//- .col-lg-5.col-md-push-1
				address
					h3.white-text Phone: 303-492-8475
				//- iframe(frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="550" height="390" src="https://maps.google.com/maps?hl=en&q=1111 Engineering Drive, Boulder, CO 80309-0530&ie=UTF8&t=roadmap&z=15&iwloc=B&output=embed")
				//- 	div
				//- 		small
				//- 			a(href="http://embedgooglemaps.com") embedgooglemaps.com
				//- 	div
				//- 		small
				//- 			a(href="http://premiumlinkgenerator.com") premium link generator for 2016



