extends index

block content
	div.jumbotron
		div.inline
			div.inline
				div
				p#bio 
					| Dr. Levi Perigo is an independent consultant and Scholar in Residence in the <a href="http://www.colorado.edu/itp/">Interdisciplinary Telecom Program</a> at the University of Colorado Boulder.  Prior to joining the University of Colorado full-time, Dr. Perigo was a Senior Network Engineer at ADTRAN Inc.  In this role, he served as an escalation point for isolation and resolution of heterogeneous internetworking problems for major accounts.  He holds vendor certifications in telecommunications technologies in areas such as IP routing, switching, network design, wireless technologies, Voice over IP (VoIP), and Internet of Things (IoT) home integration.  Dr. Perigo's research interests are in a variety of internetworking technologies like VoIP, Software Defined Networking (SDN), Network Functions Virtualization (NFV), and Internet of Things (IoT).  Specifically, he has studied Internet Protocol version 6 (IPv6). 
					br
					br
					| Dr. Perigo holds an MS in Information and Communication Sciences from Ball State University and a PhD in Information Systems from Nova Southeastern University.