extends index

block content
	.all.border.back-none
		a(name='network-design')
		div.media.white-back.border
			div.media-left.media-top
				img.services-images.media-object(src='/images/network-diagram.jpg' alt='Image of network diagram')
			div.media-body
				h3.media-heading Network Design
				p#bio 
					| Network design is critical to establishing a properly functioning business in today's connected world.  Network design is included in any installation, or re-design, but Raven Innovation is happy to design or evaluate your network, and provide recommendations for the future, even if you don't select Raven Innovation for the installation.  Raven Innovation will assist you with developing a network design, including a detailed diagram, that is scaleable, resilient, and fits the needs of your organization.  Today, networks need to work together with IPv6, VoIP, Security, Routing and Switching, Wireless, and many others.  The internetworks we help design involve legacy technologies, as well as new ones.  Furthermore, we will assist you with selecting the right hardware for you business and budget, or work with existing hardware in your network.  
		a(name='network-security')
		div.media.white-back.border
			div.media-left.media-top
				img.services-images.media-object(src='/images/security-image.jpg' alt='Image of passwords repeated')
			div.media-body
				h3.media-heading Network Security
				p#bio 
					| Cybersecurity can make or break a business.  At Raven Innovation, not only do we design and configure network security in networks, but we also perform audits and penetration testing to provide peace of mind that your digital information is secure.
		a(name='research')
		div.media.white-back.border
			div.media-left.media-top
				img.services-images.media-object(src='/images/research-image.jpg' alt='Image of books and glasses')
			div.media-body
				h3.media-heading Research
				p#bio 
					| Raven Innovation is available to perform technical research, whether you are looking to publish scholarly work, or develop proprietary information for internal use.
		a(name='route-switch')
		div.media.white-back.border
			div.media-left.media-top
				img.services-images.media-object(src='/images/switch-image.jpg' alt='Image of switch')
			div.media-body
				h3.media-heading Routing and Switching
				p#bio 
					| Routing and switching is the foundation for any network, and with Raven Innovation, no project is too small to get your network up and running.  Whether you need a single Internet router configured, or a multi-site, full installation, we are happy to help.  We work with hardware vendors such as ADTRAN, Arista, Cisco, Juniper, and many others.
		a(name='training')
		div.media.white-back.border
			div.media-left.media-top
				img.services-images.media-object(src='/images/training-meeting-room.jpg' alt='Image of meeting room table and screen')
			div.media-body
				h3.media-heading Training
				p#bio 
					| Network engineering is a broad field, and Raven Innovation provides training on many of the topics.  If you are looking for training for a few hours, or for multiple days, Raven Innovation is able to assist.
		a(name='voip')
		div.media.white-back.border
			div.media-left.media-top
				img.services-images.media-object(src='/images/ip-phone.jpg' alt='Image of office VoIP telephone')
			div.media-body
				h3.media-heading Voice over IP (VoIP)
				p#bio 
					| Designing, installing, and troubleshooting voice related networks are a passion for Raven Innovation.  Whatever your voice needs are, Raven Innovation would love to assist you, regardless of the size.  Whether your needs are adding a few VoIP phones to the office, or installing a company wide VoIP service with phones, gateways, remote users, PBXs and everything in between, we would love to help in any way we can.  Raven Innovation offers hosted solutions, as well as fully autonomous solutions.  We are also willing to work with multiple vendors such as ADTRAN, Asterisk, Cisco, and more.  
		a(name='wireless')
		div.media.white-back
			div.media-left.media-top
				img.services-images.media-object(src='/images/wireless-router.png' alt='Image of wireless router')
			div.media-body.media-heading
				h3.media-heading Wireless
				p#bio 
					| Developing a wireless infrastructure to encompass business and guest access is a necessity for businesses.  Raven Innovation will troubleshoot existing networks, as well as provide site surveys for new wireless installations to make sure your wireless network works as intended.